In [1]:
tupla_numeros= (10, 20, 30)
print(tupla_numeros)

(10, 20, 30)

In [3]:
tupla_nova= 10, 20, 30
print(tupla_nova)

(10, 20, 30)

In [5]:
tupla_elemento= 10,
print(tupla_elemento)

(10,)

In [7]:
tupla_vazia= ()
print(tupla_vazia)

()

In [9]:
nova_tupla= tuple('teste')
print(nova_tupla)

('t', 'e', 's', 't', 'e')

In [17]:
#metodo count

tupla_nomes= ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
print(tupla_nomes.count('Marlene'))
print(tupla_nomes.count('Zuely'))
print(tupla_nomes.count('Zezinho'))

2
1
1

In [19]:
#atividade

tupla_atividade= (1,2,2,3,4,4,4,5)
print(tupla_atividade.count(4))

3

In [22]:
#criando dicionario

dicio= {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [25]:
d= {'laranjas':15,'bananas':35, 'sitiguelas':12}
d['bananas']

35

In [29]:
d['pitomba']= 20
len(d)

4

In [31]:
d

{'laranjas': 15, 'bananas': 35, 'sitiguelas': 12, 'pitomba': 20}

In [32]:
'pitomba' in d

True

In [33]:
'pears' in d

False

In [34]:
del d['laranjas']
'laranjas' in d

False

In [37]:
frutas= ['pinha', 'oiti coró', 'jaca', 'tamarindo']
print([1,2] + [3,4])
print(frutas+ [6,7,8,9,])


print([0]*4)
print([1,2,['oi','tchau']]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]