In [ ]:
"""comentando código
comentando código
comentando código
comentando código
comentando código
comentando código"""

In [5]:
idade1= 39
idade2= 36
somaIdades= idade1 + idade2

In [6]:
print(somaIdades)

75

In [7]:
idade1= 44
idade1-23

21

In [2]:
idade1= 17
idade2= 22
idade2- idade1

5

In [3]:
idade1= 58
idade2= 24
idade1* idade2

1392

In [4]:
idade1= 63
idade2= 73
idade2/ idade1

1.1587301587301588

In [8]:
idade1= 83
idade2= 29
8* idade1+ 73/ idade2+ 39

705.5172413793103

In [9]:
valor1= 48
valor2= 73
valor3= 99
(16* valor2+ valor1)/ valor3- 85

-72.71717171717172

In [12]:
#Parênteses
#Expoente
#Multiplicação
#Divisão
#Adição
#Subtração

In [16]:
valor1= 842
valor2= 4823
valor3= 344
calculo1= (valor3* 88/ valor1)+ valor2- 7
calculo2= valor3-123+ (valor1+ valor2- 18)/ 7
calculo3= valor2/ (6* valor3+ 600+ valor1)
print(calculo1, calculo2, calculo3)

4851.9524940617575 1027.7142857142858 1.3756417569880206

In [20]:
valor1= 4
valor1** 2

16

In [23]:
valor1= 9
valor1** 3

729

In [24]:
valor1= 63.4
valor2= 23.6
valor1// valor2

2.0

In [26]:
nome= 'Cristiano'
sobrenome= 'Ronaldo'
print(nome+ sobrenome)

CristianoRonaldo

In [30]:
nome= 'C'
sobrenome= 'R'
camisa= '7'
print(nome+ sobrenome, camisa)

CR 7

In [33]:
nome= 'Joao'
sobrenome= 'Vitor'
print(nome, sobrenome)

Joao Vitor

In [40]:
nome= 'Cristiano'
sobrenome= 'Ronaldo'
numeroDa_Camisa= '7'
print('Um homem, uma máquina, uma besta enjaulada.', '\n', nome, sobrenome,', dono da camisa', numeroDa_Camisa, 'do Real Madrid')

Um homem, uma máquina, uma besta enjaulada.
 Cristiano Ronaldo , dono da camisa 7 do Real Madrid

In [43]:
idade= input('Fala ai tua idade boy:')
print(idade)

20

In [44]:
type(idade)

str

In [46]:
idade= int(input('Fala ai tua idade boy:'))
print(idade)

17

In [47]:
type(idade)

int

In [49]:
num1= 12
num1 -=1
print(num1)

11

In [52]:
num2= 12
num2+=1
print(num2)

13